<div class="wrapper">
  <header class="main-header">
    <!-- Logo -->
    <a href="dashboard" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>e-</b>Apartment</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>e-</b>Apartment</span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- <div class="sidebar-toggle" role="button">&nbsp;{$apartment_name}</div> -->
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu mobile-view">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="">{$page_title}</span>
            </a>
          </li>
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="{$profile_image}" class="user-image" alt="User Image">
              <span class="hidden-xs">{member_name}e-Apartment{/}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="{$profile_image}" class="img-circle" alt="User Image">

                <p>
                  {member_name}Member Name{/} - {relation_with_owner}Self{/}
                  <small>{$apartment_name}</small>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="?page=logout" class="btn btn-danger bg-red btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          <li class="bg bg-red">
            <a href="?page=logout" ><i class="fa fa-power-off"></i></a>
          </li>
        </ul>
      </div>

    </nav>
  </header>

  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="{$profile_image}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{member_name}Member Name{/}</p>
          <p><i class="fa fa-building text-success"></i>&nbsp;{apartment_name}Your Apartment{/}</p>
        </div>
      </div>

      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        {$sidebar_menu}
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1 class="page-title">
        {$page_title}
      </h1>
      <!-- <ol class="breadcrumb">
        <li><a href="dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol> -->
    </section>

    <!-- Main content -->
    <section class="content ap-pagesection">
      {$Content}
    </section>
    <!-- /.content -->
  </div>

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 0.1
    </div>
    <strong>Copyright &copy; 2014-2016 <a href="http://eapartment.in">e-Apartment</a>.</strong> All rights
    reserved.
  </footer>
</div>
